.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

* {
  box-sizing: border-box;
}

.Container {
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 940px;
  width: 100%;
}

.charList {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.charContainer {
  background-color: #fff;
  width: 300px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  line-height: .5;
  display: flex;
}

.charImg {
  background-image: url("./favicon.ico");
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-top: 10px;
  margin-right: 10px;
}

.charInfo h2 {
  color: rgb(46, 115, 245);
  text-shadow: 0 0 3px blue;
}

.charInfo strong {
  color: rgb(238, 82, 35);
  text-shadow: 0 0 3px red;
}

button {
  background-color: gold;
  color: rgb(167, 127, 26);
  width: 100px;
  height: 30px;
  font-size: 14px;
  margin: 0 10px;
  border: 1px solid gold;
  cursor: pointer;
}

button:hover {
  background-color: goldenrod;
  color: gold;
}

.next {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
}

.prev { 
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0px;
}

/* write your parent styles in here for your App.js */
